.hero {
  padding-block: clamp(1rem, 5vw, 4rem);
}

.hero__content {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 5vw, 3rem);
}

.hero-content__text {
  flex: 1 1 20rem;
}

.hero-content__image {
  flex: 1 1 28rem;
}

.hero__image {
  height: auto;
  max-width: 100%;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero__info + .hero__info {
  margin-top: 1.5rem;
}

.hero__title {
  grid-area: header;
}

/* HERO */
/* =============================================================== */

.hero-b {
  color: var(--color-white);

  background: var(--color-blue);
}

.hero-b__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.hero-b__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 30rem;
  padding: 1rem;
}

.hero-b__title {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  font-weight: normal;
}

.hero-b__image {
  flex: 1 1 30rem;
}

.hero-b__image figure {
  height: 100%;
  width: 100%;
}

.hero-b__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-b__text-padding {
  --size: calc(100vw - var(--content-width));
  flex: 0 0 calc(var(--size) / 2);
}
