<form class="form" data-id="attend-form">
  <label class="form__label" for="first-name">First Name</label>
  <input
    class="form__input form__input--text"
    type="text"
    name="first-name"
    id="first-name"
  />
  <label class="form__label" for="last-name">Last Name</label>
  <input
    class="form__input form__input--text"
    type="text"
    name="last-name"
    id="last-name"
  />
  <label class="form__label" for="email-address">Email Address</label>
  <input
    class="form__input form__input--text"
    type="email"
    name="email-address"
    id="email-address"
  />
  <label class="form__label" for="guest-name">Guest Name (Optional)</label>
  <input
    class="form__input form__input--text"
    type="text"
    name="guest-name"
    id="guest-name"
  />
  <p class="form__text">By submitting this form, you understand and agree that
    Glenmede may use the information you provide to follow-up with you and as
    otherwise permitted by our Website Privacy & Cookies Policy.</p>
  <button class="form__submit" type="submit">Register</button>
</form>