    <header class="header">
      <div class="container header__content">
        <a href="#">
          <img
            src="/src/assets/MasterGlenmedePW_logo-fullcolor-1.webp"
            alt="Glenmede: Private Wealth"
            class="header__logo"
          />
        </a>
      </div>
    </header>