<section class="hero-b">
  <div class="hero-b__container">
    <div class="hero-b__text-padding"></div>
    <div class="flex-columns hero-b__text">
      <p class="text:label text-color:white">Dinner & Discussion</p>
      <h2 class="hero-b__title">
        <span class="font-style:italic">Family Wealth</span>
        & The Next Generation
      </h2>
      <article>
        <div class="hero__info">
          <h3 class="font-family:text text:uppercase font-size:label">
            When
          </h3>
          <p class="hero__description font-size:large">
            Tuesday, May 7th, 2024
          </p>
        </div>
        <div class="hero__info">
          <h3 class="font-family:text text:uppercase font-size:label">
            Where
          </h3>
          <p class="hero__description font-size:large">
            <span class="font-weight:bold">Greenville Country Club</span><br />
            201 Owls Nest Road<br />
            Wilmington, DE 19807
          </p>
        </div>
      </article>
    </div>
    <div class="hero-b__image">
      <figure>
        <img src="/src/assets/SPY Landing Page Banner 4_1200x600.webp" alt="Hero Image" class="hero__image" />
      </figure>
    </div>
  </div>
</section>