<div class="speakers-grid">
  {{> "components/v1/speaker.hbs" image='/src/assets/edgar-nKC772R_qog-unsplash.jpg' }}
  {{> "components/v1/speaker.hbs" image='/src/assets/hans-jurgen-mager-Fbdr6gXJBVY-unsplash.jpg' }}
  {{> "components/v1/speaker.hbs" image='/src/assets/laura-college-K_Na5gCmh38-unsplash.jpg' }}
  {{> "components/v1/speaker.hbs" image='/src/assets/lukas-souza-vjFC9OjrOtA-unsplash.jpg' }}
</div>