<article class="speaker-card {{variant}}" data-id="speaker-card" tabindex="1">
  <figure class="speaker-card__image-wrapper">
    <img alt="Ken Spruill" class="speaker-card__image" src="{{image}}" />
  </figure>
  <footer class="speaker-card__footer">
    <h3 class="speaker-card-footer__title font-family:heading font-size:large">
      Kenneth E. Spruill Jr., CAP
    </h3>
    <hr class="speaker-card-footer__divider" />
    <div class="speaker-card-footer__reveal">
      <p class="speaker-card-footer__description font-size:large">
        Director of the Center for Family Philanthropy and Wealth Education
      </p>
    </div>
  </footer>
</article>